/*
Colors used:
Primary Color (dark green): #243E36;
Primary Color (medium green):7CA982;
Primary Color (light green) F1F7ED
Secondary Color (dark blue): #29339B;
Secondary Color (medium blue):016FB9
*/

body {
    background-color: #F1F7ED;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color:#243E36;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

    
}