/*
Colors used:
Primary Color (dark green): #243E36;
Primary Color (medium green):7CA982;
Primary Color (light green) F1F7ED
Secondary Color (dark blue): #29339B;
Secondary Color (medium blue):016FB9
*/
* {
    box-sizing: border-box;
}

.container {
    padding: 0px 15px;
}

.row {
    margin: 25px 0;
    padding: 0 0 25px 0;
    border-bottom: 3px solid #7CA982;
}

header {
    background-color: #243E36;
    padding: 0 10px;

    nav>u1>li {
        list-style-type: none;
        display: inline-block;
        padding: 0;

        a {
            padding: 0 15px;
            text-transform: uppercase;
            font-weight: 700;
            color: #F1F7ED;

            a:visited {
                color: #016FB9;
            }
        }
    }
}

body {
    background-color: #F1F7ED;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;

    img {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 2.75em;
        font-weight: 700;
        color: #243E36;
    }

    h2 {
        font-size: 2.25em;
        font-weight: 700;
    }

    h3 {
        font-size: 1.75em;
        font-weight: 600;
    }

    h4 {
        font-size: 1.35em;
        font-weight: 400;
    }

    a {
        color: #243E36;
        text-decoration: none;
    }

    a:hover {
        a:focus {
            color: #016FB9;
            text-decoration: underline;
        }
    }

    a:visited {
        color: #016FB9
    }

    a:active {
        color: #29339B;
    }

    .button {
        display: inline-block;
        background-color: #7CA982;
        color: #ffffff;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
    }

    .button:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    /*header*/
    header {
        background-color: #243E36;
        text-align: center;
        padding: 10px 0;

        .logo {
            max-width: 250px;
        }
    }

    /*hero*/
    #hero h1 {
        text-align: center;
        padding: 0px 
        border 0px;
        margin-bottom: 0px;

    }

    /*work*/
    #projects h2 {
        text-align:center;
        padding: 0px;
        border: 0px;
        margin-bottom: 0px;
    }
    #projects h3{
        text-align: left;
        padding:0px;
        border: 0px;
        margin-bottom:0px

    }
}

footer {
    text-align: center;

    #contactlinks {
        img {
            width: 20%;
        }
        width: 15%;
        display: inline;
        margin: 0 auto;
    }

}