/*
Colors used:
Primary Color (dark green): #243E36;
Primary Color (medium green):7CA982;
Primary Color (light green) F1F7ED
Secondary Color (dark blue): #29339B;
Secondary Color (medium blue):016FB9
*/

* {
    box-sizing: border-box;
}

.container {
    padding: 0px 15px;
    display: block;
}

.row {
    margin: 25px 0;
    padding: 0 0 15px 0;
    display: block;
    border-bottom: 3px solid #7CA982;
}
.row:after {
    content: "";
    clear: both;
    display: table;
  }
  .center {
    text-align: center;
  }
header {
    background-color: #243E36;
    position:fixed;
    width: 100%;
    padding: 10px 0 4px;
}
    .logo{
        max-width: 250px;
    }
    .navtoggle li:not(:last-child) {
        display: none;
      }
      .navtoggle, .navtoggle.responsive {
        position: relative;
      }
      .navtoggle li .icon {
        position: absolute;
        right: 0;
        top: 40px;
        font-size: 24px;
        padding-right: 0;
      }
      .navtoggle.responsive li  {
        display: block;
      }
    nav {
         ul{
            list-style-type: none;
            text-align: left;
            padding: 0;
            margin: 0;
            li{
                a{
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #F1F7ED;
                    
                    a:visited{
                        color:#7CA982
                    }
                }
            }
        }
    }
body {
    background-color: #F1F7ED;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    h1 {
        font-size: 2.75em;
        font-weight: 700;
        color: #243E36;
        text-align: center;
    }

    h2 {
        font-size: 2.25em;
        font-weight: 700;
        text-align: center;
    }

    h3 {
        font-size: 1.75em;
        font-weight: 600;
        padding: 5px auto 0px auto;
    }

    h4 {
        font-size: 1.35em;
        font-weight: 400;
        line-height: 1.4;
    }

    p{
        margin: 0px auto 15px auto;
    }
    
    img {
        width: 100%;
        padding: 15px;
    }

    a {
        color: #243E36;
        text-decoration: none;
    }

    a:hover {
        a:focus {
            color: #016FB9;
            text-decoration: underline;
        }
    }

    a:visited {
        color:#F1F7ED
    }

    a:active {
        color: #7CA982;
    }

    .button {
        display: inline-block;
        background-color: #7CA982;
        color: #ffffff;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        transition-duration: 0.2s;transition-property: opacity;
    }

    .button:hover {
        opacity: 0.8;
        text-decoration: none;
    }

/*layout styling*/
    main{
        padding-top: 125px;

     /*hero*/
        #hero {
        background-color: #F1F7ED;
        display: inline-block;
        width: 100%;
        text-align: center;

        #work {
            border:2px solid #7CA982;
        }

        #work3{
            border-bottom: none;
        }
    }
      }
}

.animation {
    width: 100%; 
    max-width: 100%;
    height: auto;
}
  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

footer {
    background-color: #243E36;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 0px;
    h1{
        color:#ffffff;
    }
    p{
        color:#F1F7ED
    }
    img {
        padding: 0px 15px;
        height: 80px;
        width: auto;

    }
  .contactlinks {
       margin: 15px auto;
       display: inline-block; 
    
  }

}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 10px 0 13px;
    }
    .logo{
        margin: 0px 0px;
        max-width: 250px;
        float: left;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 40px;
    }
    nav > ul > li {
        display: inline-block;
      }
      .navtoggle li:not(:last-child) {
        display: inline-block;
      }
      .navtoggle li:last-child {
        display: none;
      }
      nav > ul {
        margin: 1em 0;
      }
    body{
    main{
        padding-top: 135px;
    }
    #about h2 { 
        margin: 0;
    }  
    #about h3 { 
        margin: 0;
    }  
    #headshot{
        max-height: 500px;
        max-width: auto;
    }
    [class*="col-"] {
        width: 50%;
        float: left;
        padding: 10px;
      }

      .clear {clear: both;}
    
      
}
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 50px
      }

    header {
        text-align: unset;
        padding: 10px 0 13px;
    }
    .logo{
        margin: 0px 0px;
        float: left;
    }
    nav > ul > li {
        display: inline-block;
      }
    nav {
      width: auto;
      float: right;
      margin-top: 40px;
    }
    nav > ul {
        margin: 1em 0;
      }

    body{
    main{
        padding-top: 135px;
    }
    #about h2 { 
        margin: 0;
    }  
    #about {
        .row{
            border-bottom: 0px;
        }
        h3 { 
            margin: 0;
        } 
        .col-lg-5 {
            padding-left: 50px;
        }
    }
    
    [class*="col-lg-5"] {
        width: 40%;
        float: left;
        padding: 10px;
      }

      [class*="col-lg-7"] {
        width: 60%;
        float: left;
        padding: 10px;
      }
    
    
}
}

